.board { 
  display: grid;
  background-image: url("light-wood.jpg");
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 0.8em;
  padding: 1.5em;
  box-shadow: inset 0 0 0.1em 0.5em rgba(0, 0, 0, 0.2);
  /* border: 1em solid rgba(40,0,0,0.2) */
}
.board-game{
  /* width: 100%; */
  height: 100%;
}
